name: Docker

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: |
          ./scripts/buildImages.sh
          docker save ghcr.io/hyperledger-labs/fabric-console:latest > fabric-console.tar
          docker save ghcr.io/hyperledger-labs/grpc-web:latest > grpc-web.tar

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: docker-images
          path: |
            fabric-console.tar
            grpc-web.tar
