name: Docker

on:
  push:
    tags:
      - '*'

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: |
          ./docker/build_image.sh
          docker save ghcr.io/hyperledger-labs/fabric-console:latest > fabric-console.tar

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: fabric-console-image
          path: fabric-console.tar
