name: Docker

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: |
          ./scripts/buildImages.sh
          docker pull docker.io/library/couchdb:3.1.1
          docker pull docker.io/library/hyperledger/fabric-tools:2.5.14
          docker save ghcr.io/hyperledger-labs/fabric-console:latest > fabric-console.tar
          docker save ghcr.io/hyperledger-labs/grpc-web:latest > grpc-web.tar
          docker save \
            couchdb:3.1.1 \
            hyperledger/fabric-tools:2.5.14 \
            ghcr.io/hyperledger-labs/fabric-console:latest \
            ghcr.io/hyperledger-labs/grpc-web:latest \
            -o fabric-operations-console-amd64-images.tar

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: fabric-operations-console-amd64-images
          path: fabric-operations-console-amd64-images.tar
